# Kredensial Supabase (Untuk Buku Tamu)
VITE_SUPABASE_URL=URL_PROJECT_SUPABASE_KAMU_DISINI
VITE_SUPABASE_ANON_KEY=ANON_KEY_SUPABASE_KAMU_DISINI

# Web App URL Google Apps Script (Untuk RSVP)
VITE_GOOGLE_SHEETS_URL=URL_GOOGLE_SCRIPT_KAMU_DISINI
